@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap");

:root {
  --main-bg-colour: #222222;
  --main-bg-colour-darker: #181818;
  --secondary-bg-colour: #2d2d2d;
  --secondary-bg-colour-lighter: #5f5f5f;
  --main-font-colour: #ffffff;
  --secondary-font-colour: white;
  --dark-colour: black;
  --light-colour: white;
  --accent-colour: #ff412c;
  --accent-colour-darker: #d42815;
  /* --secondary-accent-colour: #0cacb3; */
  /* --secondary-accent-colour: #00a878; */
  --secondary-accent-colour: #00b355;
  --main-font: "Nunito Sans", sans-serif;
  --header-font: "Bevan", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.hideMenu {
  visibility: hidden;
  opacity: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--main-bg-colour);
}
body {
  cursor: url("/cursor.png"), auto;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.8rem;
  font-family: var(--header-font);
  font-weight: 400;
  color: var(--accent-colour);
}

h2 {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: var(--header-font);
  color: var(--accent-colour);
}
h3 {
  font-weight: 400;
  font-size: 1.42rem;
  font-family: var(--header-font);
  color: var(--accent-colour-darker);
}
h4 {
  color: var(--accent-colour);
  font-size: 1.27rem;
  font-family: var(--main-font);
}
h5 {
  font-size: 1.125rem;
  font-family: var(--main-font);
  color: var(--accent-colour);
}
p {
  font-size: 1rem;
  font-family: var(--main-font);
  font-weight: 300;
  color: var(--main-font-colour);
  max-width: 75ch;
}
a {
  font-family: var(--main-font);
  text-decoration: none;
  display: block;
  cursor: url("/cursor3.png"), auto;
}
button {
  font-family: var(--main-font);
  display: block;
  cursor: url("/cursor3.png") 2 2, auto;
}
li {
  font-family: var(--main-font);
  width: 100%;
  text-align: center;
}

header {
  background-color: var(--dark-colour);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  flex-wrap: wrap;
  position: relative;
}

header li {
  list-style: none;
  display: inline-block;
}

header a {
  color: var(--accent-colour);
  /* color: var(--secondary-accent-colour); */
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}
header a:hover {
  font-style: italic;
  color: var(--accent-colour-darker);
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 250px;
}
header nav {
  z-index: 100;
  width: 100%;
  position: absolute;
  background-color: var(--main-bg-colour-darker);
  top: 80px;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

header img {
  max-width: 150px;
}
.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.burgerMenu img {
  filter: brightness(0) invert(1);
  /* cursor: pointer; */
  cursor: url("/cursor3.png") 2 2, auto;
}

footer {
  background-color: var(--main-bg-colour);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15vw 2vw;
  color: var(--accent-colour);
  row-gap: 6vw;
}
footer nav {
  width: 100%;
}
footer nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

footer nav li {
  list-style: none;
  /* color: grey; */
  font-weight: 500;
  font-size: 0.9rem;
}
footer nav a {
  font-style: italic;
  color: var(--main-font-colour);
  font-weight: 700;
  font-size: 1rem;
}
footer nav a:hover {
  color: var(--accent-colour-darker);
  font-style: normal;
}

.footerLogos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerLogos a {
  max-width: 40%;
  height: "auto";
}
.footerLogos a:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out all;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2vw;
  justify-content: space-around;
}
.socialLinks path {
  fill: var(--main-font-colour);
}
.socialLinks a:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out all;
}

.addressFooter {
  text-align: center;
  display: flex;
  gap: 20%;
  flex-direction: column;
  justify-content: space-between;
}
.addressFooter p {
  font-size: 0.6rem;
  font-weight: 400;
  color: var(--accent-colour);
}

article {
  padding: 2vw;
}

.splashSection {
  display: flex;
  flex-direction: column;
}
.landingPage_introArticle {
  width: 100%;
  background-color: var(--secondary-bg-colour);
  padding: 8vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landingPage_introArticle div {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.landingPage_introArticle p {
  color: var(--main-font-colour);
}

.buttonSplash {
  align-self: flex-end;
  background-color: var(--secondary-accent-colour);
  color: var(--dark-colour);
  border: none;
  padding: 2% 5%;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 0.8rem;
  border-radius: 5px;
}

.landingPage_imageArticle {
  width: 100%;
  padding: 11vw 0;
  background: url("/334488809_540071724778281_1717384824777940824_n.webp");
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.linksSection {
  background-color: var(--main-bg-colour);
  padding: 4vw 2vw;
}
.linksSection ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linksSection li {
  list-style: none;
  border-right: var(--accent-colour) solid 3px;
}
.linksSection li:last-child {
  border-right: none;
}
.linksSection a:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out all;
}

.gallerySection {
  display: grid;
  grid-template-columns: 1fr;
}

.galleryArticle {
  order: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}
.galleryArticle a {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}
.galleryArticle a img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  filter: grayscale(0.5);
  display: block; /* (or inline-block) */
  margin: 0 0.05px;
}
.imgContainer::before {
  pointer-events: none;
  content: "Games";
  position: absolute;
  z-index: 100;
  top: 40%;
  left: 30%;
  right: 30%;
  width: 40%;
  margin: auto;
  height: 20px;
  padding: 10px;
  text-align: center;
  color: var(--secondary-accent-colour);
  font-weight: 900;
  text-shadow: var(--dark-colour) 2px 2px 2px;
  font-size: 1.5rem;
}
.imgContainer:nth-of-type(1) + .imgContainer::before {
  content: "About";
}
.imgContainer:nth-of-type(2) + .imgContainer::before {
  content: "Career";
}
.imgContainer:nth-of-type(3) + .imgContainer::before {
  content: "Contact";
}

.infoArticle {
  background-color: var(--secondary-bg-colour);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 8vw 5vw;
}
.infoLinks {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 300px;
}
path {
  fill: var(--main-font-colour);
}

.gamesIntro,
.aboutIntro,
.contactIntro,
.careerIntro {
  padding: 10vw 0;
  background-size: cover;
  background-position: center;
  color: var(--main-font-colour);
  min-height: 480px;
}
.gamesIntro {
  background-image: url("/caspar-camille-rubin-oI6zrBj3nKw-unsplash.webp");
}

.gamesGrid {
  display: grid;
}

.gamesGrid article {
  padding: 0;
  padding-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4vw;
  background-color: var(--main-bg-colour);
  color: var(--main-font-colour);
}

.gamesGrid div {
  padding: 5vw 4vw;
  display: flex;
  row-gap: 3vw;
  flex-direction: column;
  padding: 8vw 5vw;
}
.gamesGrid img {
  filter: sepia(100%) hue-rotate(315deg) saturate(150%);
  border-radius: 37px;
}
.gamesGrid article h4 {
  color: var(--accent-colour);
  font-weight: 800;
  text-transform: uppercase;
}

.gamesGrid article:nth-of-type(2n) {
  background-color: var(--secondary-bg-colour);
  color: var(--main-font-colour);
}

.gamesIntro div,
.aboutIntro div,
.contactIntro div,
.careerIntro div {
  padding: 2vw 20%;
  background-color: #000000e5;
}
.gamesIntro p,
.aboutIntro p,
.contactIntro p,
.careerIntro p {
  font-weight: 500;
  text-shadow: var(--dark-colour) 1px 1px 1px;
  text-align: center;
}
.gamesIntro h1,
.aboutIntro h1,
.contactIntro h1,
.careerIntro h1 {
  color: var(--accent-colour);
  text-shadow: var(--dark-colour) 1px 1px 1px;
  text-align: center;
}
.aboutIntro {
  background-image: url("/aboutbg2.webp");
}

.aboutHistory {
  background-color: var(--main-bg-colour);
  color: var(--main-font-colour);
  padding: 4vw 4vw;
  position: relative;
}
.aboutHistory article {
  grid-column: 2;
  position: relative;
  margin-left: 4vw;
}
.aboutHistory article::before {
  content: url("/calendar_today_FILL1_wght400_GRAD0_opsz48.png");
  padding: 2vw;
  position: absolute;
  top: 0;
  left: -11%;
}

.aboutHistory h2 {
  color: var(--accent-colour);
  text-align: center;
}

.aboutHistory h4 {
  color: var(--accent-colour-darker);
}
.employeeGrid {
  padding: 6vw 15vw;
  background-color: var(--main-bg-colour-darker);
}
.employeeGrid div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(219px, 1fr));
  justify-content: space-evenly;
}
.employeeGrid h2 {
  color: var(--accent-colour);
  text-align: center;
}
.container {
  color: var(--main-font-colour);
  position: relative;
  padding: 0;
  margin: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.employeeImg {
  max-width: 219px;
  aspect-ratio: 1/1;
  display: block;
  border-radius: 37px;
}
.contactIntro {
  background-image: url("/luca-bravo-9l_326FISzk-unsplash.webp");
}
.contactSection {
  display: grid;
  grid-template-columns: 1fr;
}
.contactInfo {
  padding: 10vw 4vw;
  background-color: var(--main-bg-colour-darker);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactInfo .infoDiv {
  display: flex;
  flex-wrap: wrap;
}
.contactInfo a {
  color: var(--accent-colour);
  font-weight: 500;
}
.contactInfo a:hover,
.contactInfo span:hover {
  color: var(--accent-colour-darker);
  text-decoration: underline;
}
.contactForm {
  padding: 4vw;
  background-color: var(--secondary-bg-colour);
}
.contactForm form {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  justify-content: space-between;
}
.contactForm form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contactForm label {
  display: flex;
  flex-direction: column;
  width: 49%;
  font-family: var(--main-font);
  color: var(--accent-colour);
  font-weight: 600;
}
.contactForm input {
  font-family: var(--main-font);
  background-color: var(--light-colour);
  border: none;
  padding: 10px;
  font-weight: 400;
}
input::placeholder {
  font-style: italic;
}

.contactForm #textBox {
  width: 100%;
}

.contactForm label textarea {
  border: none;
  background-color: var(--light-colour);
  font-family: var(--main-font);
  min-height: 100px;
  padding: 10px;
  font-weight: 400;
}
textarea::placeholder {
  font-style: italic;
}
.contactForm button {
  padding: 10px 30px;
  /* cursor: pointer; */
  border-radius: 10px;
}

.careerIntro {
  background-image: url("/andrew-neel-cckf4TsHAuw-unsplash.webp");
}
.careerList article {
  padding: 0;
  margin: 0;
}
.careerList ul {
  padding: 0;
  margin: 0;
}
.careerList li {
  list-style: none;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}
.careerList p {
  max-width: none;
}
.joblistul li:nth-child(odd) {
  background-color: var(--secondary-bg-colour);
}
.joblistul li:nth-child(even) {
  background-color: var(--main-bg-colour);
}
.jobButton {
  padding: 0.6vw;
  background-color: var(--secondary-accent-colour);
  margin: 0 40%;
  color: var(--dark-colour);
  font-size: 0.85rem;
  font-weight: 800;
  transition: 0.3s;
  animation-timing-function: ease-in;
  border-radius: 10px;
}
.jobPost li {
  text-align: left;
  color: var(--main-font-colour);
}
.jobIntro {
  background-color: var(--main-bg-colour-darker);
}
.jobIntro h1 {
  text-align: center;
}
.jobIntro p {
  text-align: center;
}
.jobIntro div {
  padding: 2vw 20%;
}
.jobDetails {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--secondary-bg-colour);
}
.imageArticle {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.imageArticle img {
  height: 717px;
  object-fit: cover;
  border-radius: 37px;
}
.jobDetails p,
.jobDetails ul {
  padding-bottom: 1vw;
}
.applyButtonDiv {
  display: flex;
  width: 100%;
  justify-content: right;
}
.applyButton {
  border: none;
  background-color: var(--accent-colour);
  color: var(--main-font-colour);
  padding: 1vw 2vw;
  border-radius: 10px;
}
.applyButton:hover {
  background-color: var(--accent-colour-darker);
  font-style: italic;
}
.applyInvalid {
  background-color: var(--secondary-bg-colour-lighter);
  padding: 1vw 2vw;
  font-style: italic;
  font-size: 0.8rem;
}
.privacyPolicy {
  background-color: var(--main-bg-colour-darker);
  padding: 10% 25%;
}

@media screen and (min-width: 768px) {
  .hideMenu {
    visibility: visible;
    opacity: 1;
  }
  .burgerMenu {
    display: none;
  }
  header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 120px;
    padding: 1vh 0;
  }
  header ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30vh;
    justify-content: space-evenly;
  }

  header li {
    transform: rotate(-15deg);
  }

  header nav {
    position: static;
    background-color: var(--dark-colour);
    visibility: visible;
    opacity: 1;
    padding-bottom: 1rem;
  }
  header img {
    max-width: 100%;
  }
  main {
    margin-left: 120px;
  }
  footer {
    margin-left: 120px;
  }
  footer nav ul {
    flex-wrap: nowrap;
  }
  .employeeGrid {
    padding: 6vw 10vw;
  }
  .container {
    margin: 4vw 2vw;
  }

  .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: var(--accent-colour-darker);
    border-radius: 37px;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .imgContainer::before {
    top: 50%;
    text-shadow: var(--main-bg-colour-darker) 0px 0px 6px, var(--main-bg-colour-darker) 2px 2px 2px, var(--main-bg-colour-darker) 3px 3px 3px;
  }

  .galleryArticle img {
    filter: grayscale(1);
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text h5 {
    color: var(--dark-colour);
    text-shadow: var(--accent-colour-darker) 1px 1px 1px;
  }
  .aboutHistory {
    grid-template-columns: 10px 1fr;
  }

  .aboutHistory article {
    margin: 0;
  }
  .aboutHistory article::before {
    left: -50px;
  }
  .contactInfo {
    padding: 3vw;
  }
  .contactForm {
    padding: 3vw;
  }
  .gamesGrid article {
    padding: 0;
  }
  @media screen and (min-width: 1101px) {
    p {
      font-size: 1.1rem;
    }
    li {
      font-size: 1.1rem;
    }
    header li {
      font-size: 1rem;
    }
    footer {
      padding: 3vw 17vw;
      gap: 4vw;
    }

    .addressFooter p {
      font-size: 0.8rem;
    }
    .footerLogos {
      justify-content: space-evenly;
      padding: 0;
    }
    .socialLinks {
      justify-content: space-evenly;
      padding: 0 30%;
    }
    .gamesGrid img {
      max-width: 60%;
    }
    .gallerySection {
      grid-template-columns: 1fr 43%;
    }
    .galleryArticle {
      order: 0;
      gap: 0;
    }
    .galleryArticle a {
      height: 100%;
    }
    .galleryArticle img {
      max-width: max-content;
      height: 100%;
    }

    .splashSection {
      flex-direction: row;
    }
    .landingPage_introArticle {
      width: 40%;
    }
    .landingPage_imageArticle {
      width: 60%;
      padding: 4vw 0;
      position: relative;
      height: inherit;
      min-height: 600px;
    }

    .infoArticle {
      padding: 4vw 2vw;
    }

    .imageAr1 {
      grid-column: 2;
      align-self: flex-end;
      justify-self: flex-start;
    }
    .imageAr2 {
      grid-column: 2;
      align-self: flex-start;
      justify-self: flex-start;
    }
    .imageAr3 {
      grid-column: 1;
      grid-row: 1;
      align-self: flex-end;
      justify-self: flex-end;
    }
    .linksSection {
      padding: 2% 0;
    }
    .linksSection img {
      max-width: 40px;
    }

    .gamesGrid {
      display: grid;
    }

    .gamesGrid article {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .gamesGrid img {
      max-width: 50%;
    }
    .gamesGrid div {
      max-width: 50%;
    }

    .gamesGrid article:nth-of-type(2n) {
      background-color: #2d2d2d;
      flex-direction: row-reverse;
    }

    .container {
      margin: 4vw 1vw;
      padding: 0;
    }
    .employeeGrid {
      padding: 6vw 5vw;
    }
    .aboutHistory {
      grid-template-columns: 3% 1fr;
    }
    .line {
      left: 3vw;
    }
    .aboutHistory article::before {
      left: -4vw;
    }
    .aboutHistory article {
      padding: 1.5vw;
    }
    .contactSection {
      grid-template-columns: 40% 1fr;
    }
    .jobDetails {
      flex-direction: row;
    }
  }
}

/* Animations */
.iconHover {
  transition: 0.3s;
  animation-timing-function: ease-in;
}
.iconHover:hover {
  transform: scale(1.1);
  box-shadow: #000000 3px 3px 5px 1px;
}
.imgHover {
  transition: 0.3s ease-in-out all;
  transform: scale3d(1, 1, 1);
}
.imgHover:hover {
  transform: scale3d(1.1, 1.1, 1);
  filter: grayscale(0);
}
.spin {
  -webkit-transition: 0.9s ease-out;
  -moz-transition: 0.9s ease-out;
  transition: 0.9s ease-out;
}

.spin:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
