@import url("https://use.typekit.net/wdw0bwy.css");

:root {
  --main-bg-colour: #e8e8e8;
  --main-bg-colour-darker: #c8c8c8;
  --secondary-bg-colour: #2d2d2d;
  --secondary-bg-colour-lighter: #5f5f5f;
  --main-font-colour: #2d2d2d;
  --secondary-font-colour: white;
  --dark-colour: black;
  --light-colour: white;
  --accent-colour: #ff412c;
  --accent-colour-darker: #d42815;
  --main-font: "futura-pt", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.hideMenu {
  visibility: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  background-color: var(--main-bg-colour);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.8rem;
  font-family: var(--main-font);
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-family: var(--main-font);
}
h3 {
  font-size: 1.42rem;
  font-family: var(--main-font);
}
h4 {
  font-size: 1.27rem;
  font-family: var(--main-font);
}
h5 {
  font-size: 1.125rem;
  font-family: var(--main-font);
}
p {
  font-size: 1rem;
  font-family: var(--main-font);
}
a {
  font-family: var(--main-font);
  text-decoration: none;
  display: block;
}
li {
  font-family: var(--main-font);
  width: 100%;
  text-align: center;
}

header {
  background-color: var(--light-colour);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  flex-wrap: wrap;
  /* height: 10vw; */
  position: relative;
}

header li {
  list-style: none;
}

header a {
  color: var(--accent-colour);
  font-weight: 600;
  font-style: italic;
}
header a:hover {
  font-style: normal;
  color: var(--accent-colour-darker);
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 250px;
}
header nav {
  width: 100%;
  position: absolute;
  background-color: var(--light-colour);
  top: 9vh;
  left: 0;
}

header path {
  fill: var(--secondary-bg-colour);
}
header path.active {
  fill: var(--accent-colour);
}

footer {
  background-color: var(--main-bg-colour-darker);
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

footer ul {
  margin: 0;
  padding: 0;
}
footer nav li {
  list-style: none;
  text-align: left;
}
footer nav a {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--secondary-bg-colour);
}
footer nav a:hover {
  color: var(--accent-colour-darker);
  font-style: normal;
}

.socialLinks {
  display: flex;
  gap: 20%;
  align-items: center;
}

.socialLinks img {
  height: 50px;
  border-radius: 1vw;
}

.addressFooter {
  text-align: center;
  display: flex;
  gap: 20%;
  flex-direction: column;
  justify-content: space-between;
}
.addressFooter h4 {
  font-size: 1.2rem;
  color: var(--accent-colour-darker);
}
.addressFooter p {
  font-size: 0.8rem;
}

article {
  padding: 2vw;
}

.splashSection {
  display: flex;
  flex-direction: column;
}
.landingPage_introArticle {
  width: 100%;
  background-color: var(--secondary-bg-colour);
  padding: 8vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landingPage_introArticle div {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.landingPage_introArticle p,
.landingPage_introArticle h1 {
  color: var(--main-bg-colour-darker);
}

.buttonSplash {
  align-self: flex-end;
  background-color: var(--accent-colour);
  color: var(--light-colour);
  border: none;
  padding: 2% 7%;
  font-weight: 600;
  letter-spacing: 0.3vw;
  border-radius: 0.3vw;
}

.landingPage_imageArticle {
  width: 100%;
  padding: 11vw 5vw;
  position: relative;
  min-height: 600px;
  display: grid;
  grid-template-columns: 30vw 1fr;
  grid-template-rows: 1fr;
  gap: 5vw;
}

.imageAr1 {
  grid-column: 2;
  align-self: flex-end;
  justify-self: flex-start;
  border-radius: 20%;
}
.imageAr2 {
  grid-column: 2;
  align-self: flex-start;
  justify-self: flex-start;
  border-radius: 20%;
}
.imageAr3 {
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  justify-self: flex-end;
  border-radius: 20%;
}

.linksSection {
  background-color: var(--main-bg-colour-darker);
  padding: 2vw;
}
.linksSection ul {
  display: flex;
  flex-direction: row;
}
.linksSection li {
  list-style: none;
}
.linksSection a {
  font-weight: 600;
  color: var(--accent-colour);
}
.linksSection a:hover {
  color: var(--accent-colour-darker);
  font-style: italic;
}

.gallerySection {
  display: grid;
  grid-template-columns: 1fr;
}

.galleryArticle {
  order: 1;
  min-height: 600px;
}
.infoArticle {
  background-color: var(--secondary-bg-colour);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.infoLinks {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.infoArticle p,
.infoArticle h2,
.infoArticle h3 {
  color: var(--main-bg-colour-darker);
}

@media screen and (min-width: 768px) {
  .hideMenu {
    visibility: visible;
  }
  .burgerMenu {
    display: none;
  }
  .gallerySection {
    grid-template-columns: 1fr 40%;
  }
  .galleryArticle {
    order: 0;
  }
  header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 120px;
  }
  header ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30vh;
    justify-content: space-evenly;
  }

  header nav {
    position: static;
  }
  main {
    margin-left: 120px;
  }
  footer {
    margin-left: 120px;
  }
  @media screen and (min-width: 1101px) {
    .splashSection {
      flex-direction: row;
    }
    .landingPage_introArticle {
      width: 40%;
    }
    .landingPage_imageArticle {
      width: 60%;
      padding: 5%;
      position: relative;
      height: inherit;
      display: grid;
      grid-template-columns: 15vw 1fr;
      grid-template-rows: 1fr 15vw;
      gap: 3vw;
    }

    .imageAr1 {
      grid-column: 2;
      align-self: flex-end;
      justify-self: flex-start;
      border-radius: 20%;
    }
    .imageAr2 {
      grid-column: 2;
      align-self: flex-start;
      justify-self: flex-start;
      border-radius: 20%;
    }
    .imageAr3 {
      grid-column: 1;
      grid-row: 1;
      align-self: flex-end;
      justify-self: flex-end;
      border-radius: 20%;
    }
  }
}

/* Animations */
.iconHover {
  transition: 0.3s;
  animation-timing-function: ease-in;
}
.iconHover:hover {
  transform: scale(1.2);
  box-shadow: #828282 3px 3px 5px 1px;
}

@keyframes popout {
  from {
    transition: scale(1);
  }
  to {
    transition: scale(1.2);
  }
}

@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}
