@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");

:root {
  --main-bg-colour: #222222;
  --main-bg-colour-darker: rgb(24, 24, 24);
  --secondary-bg-colour: #2d2d2d;
  --secondary-bg-colour-lighter: #5f5f5f;
  --main-font-colour: #ffffff;
  --secondary-font-colour: white;
  --dark-colour: black;
  --light-colour: white;
  --accent-colour: #ff412c;
  --accent-colour-darker: #d42815;
  --main-font: "Nunito Sans", sans-serif;
  --header-font: "Rakkas", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.hideMenu {
  visibility: hidden;
  opacity: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--main-bg-colour);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.8rem;
  font-family: var(--main-font);
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-family: var(--main-font);
}
h3 {
  font-size: 1.42rem;
  font-family: var(--main-font);
}
h4 {
  font-size: 1.27rem;
  font-family: var(--main-font);
}
h5 {
  font-size: 1.125rem;
  font-family: var(--main-font);
}
p {
  font-size: 1rem;
  font-family: var(--main-font);
  font-weight: 300;
}
a {
  font-family: var(--main-font);
  text-decoration: none;
  display: block;
}
button {
  font-family: var(--main-font);
  display: block;
}
li {
  font-family: var(--main-font);
  width: 100%;
  text-align: center;
}

header {
  background-color: var(--dark-colour);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  flex-wrap: wrap;
  position: relative;
}

header li {
  list-style: none;
}

header a {
  color: var(--accent-colour);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
header a:hover {
  font-style: italic;
  color: var(--accent-colour-darker);
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 250px;
}
header nav {
  z-index: 100;
  width: 100%;
  position: absolute;
  background-color: var(--main-font-colour);
  top: 60px;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}
header img {
  max-width: 90px;
}
.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header path {
  fill: var(--secondary-bg-colour);
}
header path.active {
  fill: var(--accent-colour);
}

footer {
  background-color: var(--main-bg-colour);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15vw 2vw;
  color: var(--main-font-colour);
  row-gap: 6vw;
}

footer nav li {
  list-style: none;
}
footer nav a {
  font-size: 1rem;
  font-style: italic;
  color: var(--accent-colour);
  font-weight: 700;
}
footer nav a:hover {
  color: var(--accent-colour-darker);
  font-style: normal;
}
footer nav {
  width: 100%;
}
footer nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.footerLogos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerLogos a {
  max-width: 40%;
  height: "auto";
}

.socialLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2vw;
  justify-content: space-around;
}

.socialLinks img {
  max-width: 10%;
}

.addressFooter {
  text-align: center;
  display: flex;
  gap: 20%;
  flex-direction: column;
  justify-content: space-between;
}
.addressFooter p {
  font-size: 0.6rem;
  font-weight: 200;
  color: var(--main-font-colour);
}

article {
  padding: 2vw;
}

.splashSection {
  display: flex;
  flex-direction: column;
}
.landingPage_introArticle {
  width: 100%;
  background-color: var(--secondary-bg-colour);
  padding: 8vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landingPage_introArticle div {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.landingPage_introArticle p,
.landingPage_introArticle h1 {
  color: var(--main-font-colour);
}

.buttonSplash {
  align-self: flex-end;
  background-color: var(--accent-colour);
  color: var(--dark-colour);
  border: none;
  padding: 2% 7%;
  font-weight: 900;
  letter-spacing: 0.3vw;
  /* border-radius: 0.3vw; */
}

.landingPage_imageArticle {
  width: 100%;
  padding: 11vw 0;
  background: url("../public/334488809_540071724778281_1717384824777940824_n.jpg");
  background-position: center;
  background-size: cover;
}

.landingPage_imageArticle div {
  padding: 0 5vw;
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 30vw 1fr;
  gap: 5vw;
  width: 100%;
  backdrop-filter: blur(5px);
}

.imageAr1 {
  grid-column: 2;
  align-self: flex-end;
  justify-self: flex-start;
}
.imageAr2 {
  grid-column: 2;
  align-self: flex-start;
  justify-self: flex-start;
}
.imageAr3 {
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  justify-self: flex-end;
}

.linksSection {
  background-color: var(--main-bg-colour);
  padding: 4vw 2vw;
}
.linksSection ul {
  display: flex;
  flex-direction: row;
}
.linksSection li {
  list-style: none;
  border-right: var(--accent-colour) solid 3px;
}
.linksSection li:first-child {
  border-left: var(--accent-colour-darker) solid 3px;
}

.linksSection a {
  font-weight: 600;
  color: var(--main-font-colour);
}
.linksSection a:hover {
  color: var(--accent-colour-darker);
  font-style: italic;
}

.gallerySection {
  display: grid;
  grid-template-columns: 1fr;
}

.galleryArticle {
  order: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  /* gap: 0; */
  margin: 0;
  padding: 0;
}
.galleryArticle div {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}

.infoArticle {
  background-color: var(--secondary-bg-colour);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 8vw 5vw;
}
.infoLinks {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 300px;
}
.infoArticle p,
.infoArticle h2,
.infoArticle h3 {
  color: var(--main-font-colour);
}

.buttonGallery {
  background-color: var(--accent-colour);
  color: var(--light-colour);
  border: none;
  padding: 2% 7%;
  font-weight: 600;
  letter-spacing: 0.3vw;
  /* border-radius: 0.3vw; */
  transition: 0.3s;
  animation-timing-function: ease-in;
  cursor: pointer;
}

.buttonGallery:hover {
  box-shadow: #828282 3px 3px 5px 1px;
  transform: translate(5px, 5px);
}

.gamesIntro,
.aboutIntro {
  padding: 10vw 0;
  background-size: cover;
  background-position: center;
  color: var(--main-font-colour);
}
.gamesIntro {
  background-image: url("../public/caspar-camille-rubin-oI6zrBj3nKw-unsplash.jpg");
}

.gamesGrid {
  display: grid;
}

.gamesGrid article {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4vw;
  background-color: var(--main-bg-colour);
  color: var(--main-font-colour);
}

.gamesGrid div {
  padding: 5vw 4vw;
  display: flex;
  row-gap: 3vw;
  flex-direction: column;
  padding: 8vw 5vw;
}
/* .gamesGrid img {  max-width: 70%;} */
.gamesGrid article h4 {
  color: var(--accent-colour);
  font-weight: 800;
  text-transform: uppercase;
}
.gamesGrid article:nth-of-type(2n) h4 {
  color: var(--accent-colour-darker);
}

.gamesGrid article:nth-of-type(2n) {
  background-color: var(--secondary-bg-colour);
  color: var(--main-font-colour);
  /* flex-direction: row-reverse; */
}

.gamesIntro div,
.aboutIntro div {
  padding: 2vw 4vw;
  backdrop-filter: blur(10px);
}
.gamesIntro p,
.aboutIntro p {
  font-weight: 600;
}
.gamesIntro h1,
.aboutIntro h1 {
  color: var(--accent-colour);
  font-weight: 700;
  text-shadow: var(--accent-colour-darker) 1px 1px 1px;
}
.aboutIntro {
  background-image: url("../public/aboutbg2.jpg");
}

.aboutHistory {
  background-color: var(--main-bg-colour-darker);
  color: var(--main-font-colour);
  padding: 4vw 4vw;
  display: grid;
  grid-template-columns: 20px 1fr;
}
.aboutHistory article {
  grid-column: 2;
  position: relative;
}
.aboutHistory article::before {
  content: url("../public/calendar_today_FILL1_wght400_GRAD0_opsz48.png");
  padding: 2vw;
  position: absolute;
  top: 0;
  left: -45px;
}
.aboutHistory hr {
  justify-self: center;
  grid-row: 2 / span 8;
}
.aboutHistory h2 {
  color: var(--accent-colour);
  text-align: center;
  grid-column: 1 / span 2;
}

.aboutHistory h4 {
  color: var(--accent-colour-darker);
}
.employeeGrid {
  padding: 6vw 15vw;
}
.employeeGrid div {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 250px); */
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-content: space-evenly;
  /* gap: 3vw; */
}
.employeeGrid h2 {
  color: var(--accent-colour);
  text-align: center;
}
.container {
  color: var(--main-font-colour);
  position: relative;
  padding: 0;
  margin: 2vw;
}
.employeeImg {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
}

@media screen and (min-width: 768px) {
  .hideMenu {
    visibility: visible;
    opacity: 1;
  }
  .burgerMenu {
    display: none;
  }
  header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 120px;
  }
  header ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30vh;
    justify-content: space-evenly;
  }

  header li {
    transform: rotate(-25deg);
  }

  header nav {
    position: static;
    background-color: var(--dark-colour);
    visibility: visible;
    opacity: 1;
  }
  main {
    margin-left: 120px;
  }
  footer {
    margin-left: 120px;
  }
  .employeeGrid {
    padding: 6vw 10vw;
    /* gap: 5vw; */
  }
  .container {
    margin: 4vw 2vw;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: var(--accent-colour-darker);
  }
  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .aboutHistory {
    grid-template-columns: 10px 1fr;
  }
  .aboutHistory article::before {
    left: -50px;
  }

  @media screen and (min-width: 1101px) {
    footer {
      padding: 5vw 17vw;
      gap: 4vw;
    }
    .footerLogos {
      justify-content: space-evenly;
      padding: 0;
    }
    .socialLinks {
      justify-content: space-evenly;
      padding: 0 30%;
    }
    .gamesGrid img {
      max-width: 60%;
    }
    .gallerySection {
      grid-template-columns: 1fr 43%;
    }
    .galleryArticle {
      order: 0;
    }
    .splashSection {
      flex-direction: row;
    }
    .landingPage_introArticle {
      width: 40%;
    }
    .landingPage_imageArticle {
      width: 60%;
      padding: 4vw 0;
      position: relative;
      height: inherit;
    }
    .landingPage_imageArticle div {
      display: grid;
      grid-template-columns: 20vw 1fr;
      gap: 2vw;
      min-height: 600px;
      padding: 0;
    }

    .imageAr1 {
      grid-column: 2;
      align-self: flex-end;
      justify-self: flex-start;
      /* border-radius: 20%; */
    }
    .imageAr2 {
      grid-column: 2;
      align-self: flex-start;
      justify-self: flex-start;
      /* border-radius: 20%; */
    }
    .imageAr3 {
      grid-column: 1;
      grid-row: 1;
      align-self: flex-end;
      justify-self: flex-end;
      /* border-radius: 20%; */
    }

    .gamesGrid {
      display: grid;
    }

    .gamesGrid article {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .gamesGrid img {
      max-width: 50%;
    }
    .gamesGrid div {
      max-width: 50%;
    }

    .gamesGrid article:nth-of-type(2n) {
      background-color: #2d2d2d;
      flex-direction: row-reverse;
    }

    .container {
      margin: 4vw 1vw;
      padding: 0;
    }
    .employeeGrid {
      padding: 6vw 5vw;
    }
    .aboutHistory {
      grid-template-columns: 3% 1fr;
    }
    .aboutHistory article::before {
      left: -5.5%;
    }
    .aboutHistory article {
      padding: 1.5vw;
    }
  }
}

/* Animations */
.iconHover {
  transition: 0.3s;
  animation-timing-function: ease-in;
}
.iconHover:hover {
  transform: scale(1.2) rotate(5deg);
  box-shadow: #000000 3px 3px 5px 1px;
}
.imgHover {
  transition: 0.5s ease-in-out all;
  transform: scale3d(1, 1, 1);
}
.imgHover:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

@keyframes popout {
  from {
    transition: scale(1);
  }
  to {
    transition: scale(1.2);
  }
}

@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}
